<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Employee-edit</title>
</head>
<body>
	<th:block th:insert="Header.html"></th:block>

		
		<div class="container-fluid">
			
			<div class="card">
				
				<div class="card-header bg-primary text-center text-white">
					<h5>Employee Edit</h5>
				</div>
					
					
				<div class="card-body">
				
				<form action="/employee/update" method="post" th:object="${eModel}">
				
							<div class="row p-2">
								<div class="col-4">First Name</div>
								<div class="col-6">
									<input type="text" th:field="*{fname}" class="form-control">
								</div>
							</div>
							
							<div class="row p-2">
								<div class="col-4">Last name</div>
								<div class="col-6">
									<input type="text" th:field="*{lname}" class="form-control">
								</div>
							</div>
							
							<div class="row p-2">
								<div class="col-4">Gender</div>
								<div class="col-6">
									<input type="text" th:field="*{gender}" class="form-control">
								</div>
							</div>
							
							<div class="row p-2">
								<div class="col-4">Phone</div>
								<div class="col-6">
									<input type="text" th:field="*{phone}" class="form-control">
								</div>
							</div>
							
							<div class="row p-2">
								<div class="col-4"></div>
								<div class="col-6">
									<input type="submit" value="Update" class="btn btn-success">
								</div>
							</div>
					
						
						<input type="hidden" th:field="*{id}">
						
					</form>
				
				</div>
				
				<div class="card-footer bg-warning text-center">
					copyright@2024
				</div>
			
			</div>
		
		</div>
		
		
</body>
</html>