<!DOCTYPE  html>
<html html xmlns:th="https://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>User Login</h1>
	<hr>
	<form action="/login" method="post">
	
		<p style="color:red">[[${message}]]</p>
	
		<label for="inputEmail">User name</label>
		<input class="" name="username" id="inputEmail" type="text" placeholder="name@example.com" />
	    <hr>
	    <label for="inputEmail">Password</label>
	    <input class="" name="password" id="password" type="password" placeholder="**" />
	    <hr>
	    <input type="submit" class="" value="login">
	</form>
	
    

</body>
</html>