<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>SignUp</h1>
	<hr>
	<form action="/signup" method = "post">
		 <label for="inputFirstName">First name</label>                                         
		 <input class="form-control" id="inputFirstName" type="text" name="fname" placeholder="Enter your first name" />
	     <hr>
	     <label for="inputLastName">Last name</label>                                              
	     <input class="form-control" id="inputLastName" name="lname" type="text" placeholder="Enter your last name" />
	     <hr>
	     <label for="inputEmail">User Name</label>
	     <input class="form-control" id="inputEmail" name="username" type="text" placeholder="Enter your username" />
	     <hr>
	     <label for="inputPassword">Password</label>
	     <input class="form-control" id="inputPassword" name="password" type="password" placeholder="Create a password" />
		 <hr>
		 <input type="submit" value="signup">
	</form>
	 
		 
</body>
</html>